<div  style='width:90%; text-align:center; margin:auto;'>
<% for(var i = 0; i < currentLeaders.length; i++){ %>
 <div  class='current-leader'>
 <table  style='width:80%;margin:auto;'>
    <tr>
        <td style='vertical-align:top;'><div style='width:30px; height:30px;background-image:url("<%=currentLeaders[i].User.featured_image %>");' class='profile-image-single'></div><br/>
        <td style='vertical-align:top;'><div style='font-size:11px;white-space:nowrap;'>
            Tickets Earned
        </div>
        <div>
	        <table style='width:100%;'>
				<tr>
				<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/ticket.png' /></td>
				<td style='vertical-align:middle;text-align:left;width:50%;'>
				<span style='color:#F0FF2C; vertical-align:top;'><%=currentLeaders[i].User.number_of_tickets ? currentLeaders[i].User.number_of_tickets : 0 %></span></td>
				</tr>
			</table>
        </div>
       </td>
       <td style='vertical-align:top;'>
        <div style='font-size:11px;white-space:nowrap;'>
            Bars Attended
        </div>
        <div>
         <table style='width:100%;'>
			<tr>
			<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/kiki-visited.png' /></td>
			<td style='vertical-align:middle;text-align:left;width:50%;'>
			<span style='color:#F0FF2C; font-size:18px;vertical-align:top;'>
			<%=currentLeaders[i].User.number_of_bars_attended ? currentLeaders[i].User.number_of_bars_attended : 0 %>
			</span>
			</td>
			</tr>
		</table>
        </div>
        </td>
    </tr>
</table>
</div>
<hr/>
<br/>
<% } %>
</div>