<div style='text-align:center; padding:10px;'>
<form id='purchase-special-form' onsubmit='return false;'>
    <div class='page-header'>SHARE AND EARN</div>
    <div data-role="fieldcontain">
    	<label>Optional picture  of you Kicking it.</label>
        <input type="text"  placeholder="Special Photo" readonly='true' data-theme="b"  id="featured_image_mask" class='text-icon-file' />
        <input type="file" name="featured_image"  id="featured_image" />
    </div>
    <br/>
    <div data-role="fieldcontain">
        <a class="btnSubmitShare pure-button" href="#" style="color:#FFF; text-decoration:none; font-size:16px;" >SHARE AND EARN</a>
    </div>
</form>
</div>