<div style='text-align:center;width:100%;'>
<div class='profile-image-single' style='box-shadow:inset 0px 0px 10px #000;  background-image:url("<%=Sweepstake.featured_image %>"); width:100% !important; border:none; margin:auto !important; height:100px !important; border-radius:0px !important;'></div>
<div style='font-size:30px !important; '><%=Sweepstake.title %></div>
<div style='font-size:20px !important;'>TICKET PRICE: <%=Sweepstake.ticket_price %></div>
<div style='text-align: left; margin: auto; width: 90%; font-size: 14px;' ><%=Sweepstake.terms %><br/><br/>
<a id="submitSweepstakes" href="javascript:void(0);"  data-role="button" data-theme="a" class='confirm-sweepstake' style='color:white; text-decoration:none;'  >ENTER SWEEPSTAKES</a>      
</div>