<div style='width:90%; margin:auto;'>
 <form id='register-form' onsubmit='return false;'>
	 <div data-role="fieldcontain">
	    <div id='terms-conditions-container'></div>
	</div>
	<div class="ui-field-contain">
	    <label for='terms'>I agree to the terms</label>
	    <input type="checkbox" name="terms" id="terms" data-theme="b">
	</div>
</form>
</div>