<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="login" data-role="page" >
    <div data-role="content">
        <img src='img/logofull.png' style='width:90% !important; display:block; margin:auto; max-width:250px !important;' /><br/>
        <div style='text-align:center;'>
            <a href="#" data-button-title="Sign in" id='facebook-signin-button' data-title='Login with Facebook' data-social-type='facebook' class='social-btn facebook-login-btn' style='text-align:left !important;'></a>
            <a href="#"  data-button-title="Sign in" id='google-signin-button' data-title='Login with Facebook' data-social-type='googleplus' class='social-btn gplus-login-btn' style='text-align:left !important;'></a>
            <a href="#"  data-button-title="Sign in" id='twitter-signin-button' data-title='Login with Twitter' data-social-type='twitter' class='social-btn twitter-login-btn' style='text-align:left !important;'></a>
     		<a href="#"  data-button-title="Sign in" data-title='Sign in with Kick It' data-social-type='kickit' class='social-btn kickit-sign-in-btn' style='text-align:left !important; text-decoration:none !important;'>Sign in with kick it</a>
            <a href="#"  style='background-color:#000 !important;' data-button-title="Create Account" data-title='Create a Kick It account' data-social-type='kickit' class='social-btn kickit-login-btn' style='text-align:left !important; text-decoration:none !important;'>Or create a kick it account</a>
        </div>
    </div>
</div>