<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="overview" data-role="page" >
    <div data-role="content">
        <div style='height:auto; display:none;' class="wrapper">
            <div class='contributor-contianer'>
                <div class="page-header">
                    <span class='highlight' >FEATURED LOCATIONS</span>
                </div>
                <div data-role="contributor-browser"></div>
            </div>
            <div class='contributor-contianer-page'>
                <div class="page-header">
                    <span class='highlight' >RESTURANTS AND BARS</span>
                </div>
                <div data-role="establishment-browser">

                </div>
            </div>
        </div>
    </div>
</div>