<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="promotion-deails" data-role="page" >
    <div data-role="header" data-tap-toggle="false">
        <a href="javascript:window.App.previousView();"></a><h1>PROMOTION DETAILS</h1>
    </div>
    <div data-role="content">
    </div>
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false"></div>