<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="register" data-role="page" >
    <div data-role="content" style='margin-top:20px !important;'>
        <div class="page-header">
            <span class='highlight' >Get ready to kick it</span>
        </div>
        <form id='register-form' onsubmit='return false;'>
            <input type="hidden" name="id" />
            <div data-role="fieldcontain">
                <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
            </div>
            <div data-role="fieldcontain">
                <input type="password" name="password" placeholder="Password" data-theme="b" class='text-icon-password'/>
            </div>
            <div data-role="fieldcontain">
                <input type="text" name="email" placeholder="Email Adress" data-theme="b" class='text-icon-email'/>
            </div>
            <div data-role="fieldcontain">
                <input type="hidden" name="featured_image"  class="featured_image" />
                <a class="choose-avatar" href="#" data-role="button" data-theme="a"  data-transition='slide' style='color:white;text-decoration:none;' >Choose Avatar</a>

            </div>
            <br/>
            <div class="ui-body">
                <fieldset class="ui-grid-a">
                    <a class="btnSubmit" href="#" data-role="button" data-theme="b"  data-transition='slide' style="transition: none !important;" >Create Account</a>
                    
                </fieldset>
            </div>
        </form>
        <div style='text-align:center;'>
            <a id="btnPasswordReset" href="javascript:window.App.loadView('passwordreset');" class='autentiction-link' >Having Trouble?</a><br/>
            	    <a href="javascript:window.App.loadView('signin');" class='autentiction-link' >Sign in</a>&nbsp;&nbsp;
					<a href="javascript:window.App.loadView('login');" class='autentiction-link'  data-transition='slide' >Go Back</a>        </div>
        <br/><br/>
    </div>
</div>