<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="sigin" data-role="page" >
    <div data-role="content" style='margin-top:20px !important;'>
    	<div class="page-header">
            <span class='highlight' >Sign in with kick it</span>
        </div>
    	<div style='width: 90%; margin: auto; padding-bottom: 10px ! important;'>
	       <form id='login-form' style='' onsubmit='return false;'>
	            <div data-role="fieldcontain">
	                <input type="text" name="username" placeholder='Username' data-theme="b" class='text-icon-user' />
	            </div>
	            <div data-role="fieldcontain">
	                <input type="password" name="password" placeholder='Password'  data-theme="b" class='text-icon-password'/>
	            </div>
	            <div class="ui-body">
	                <fieldset class="ui-grid-a">
	                    <a class="loginBtnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >Sign In</a>
	
	                </fieldset>
	            </div>
	        </form>
        </div>  
        <div style='text-align:center;'>
            <a href="javascript:window.App.loadView('register');" class='autentiction-link'  data-transition='slide' >Create a CIKI account</a><br/>
            <a id="btnPasswordReset" href="javascript:window.App.loadView('passwordreset');" class='autentiction-link' >Having Trouble?</a>&nbsp;&nbsp; 
        	<a href="javascript:window.App.loadView('login');" class='autentiction-link'  data-transition='slide' >Go Back</a>
        </div>
        <br/><br/>
    </div>
</div>