#overview {
}
#overview .ui-content {
}
[data-menu-position="open"] .contributor-contianer{
	display:none;
}
.contributor-contianer{
	background: none repeat scroll 0 0 #333;
    margin: auto;
    position: fixed;
    width: 100%;
    z-index: 2;
    display:block;
}

.contributor-contianer-page {
    height: auto;
    margin-top: 190px !important;
    overflow: auto;
    position: absolute;
    width: 100%;
    -webkit-overflow-scrolling: touch !important;
}

#overview .page-header{
	font-size:15px !important;
}

#overview [data-role="footer"] {
	color: #666 !important;
	background: black !important;
}
#overview [data-role="contributor-map"] {
	width: 100%;
	z-index: 300;
	height:100%;
	border-bottom: 2px solid #00CFF4;
}
#overview [data-role="contributor-browser"] {
	background: transparent;
	max-width: 500px;
	margin: auto auto;
}

#overview [data-role="contributor-browser"] .contributor-details-container {
	font-size: 14px;
	color: #999;
}
#overview [data-role="contributor-browser"] .contributor-details-container .contributor-container {
	background: #000;
	height: 40px;
	width: 100%;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-size: cover;
}
#overview [data-role="contributor-browser"] .contributor-details-container .number {
	 background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: inline-block;
    height: 30px;
    width: 20px;
    z-index: 2;
}
.profile-image-single {
	width: 100px;
	height: 100px;
	border:5px solid #00CFF4;
	border-radius:50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}
.image {
	width: 70px;
	height: 95px;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	margin-right: 10px;
}
#overview [data-role="contributor-browser"] .contributor-details-container .details {
	display: inline-block;
	vertical-align: top;
}
#overview [data-role="contributor-browser"] table {
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#overview [data-role="contributor-browser"] .contributor-details-container .heading {
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 5px;
    text-shadow: 1px 1px #000 !important;
    width: 100%;
}
#overview [data-role="contributor-browser"] .contributor-details-container .heading > div {
	color: white;
	font-size: 11px;
	font-weight: normal;
	text-shadow: 1px 1px #000 !important;
}
#overview [data-role="contributor-browser"] h2 {
	font-size: 35px;
	text-align: left;
}
#overview [data-role="contributor-browser"] .contributor-details-container .rating {

}

#overview [data-role="establishment-browser"] {
	background: transparent;
	max-width: 500px;
	margin: auto auto;
}

#overview [data-role="establishment-browser"] .estiblisment-details-container {
	font-size: 14px;
	color: #999;
}
#overview [data-role="establishment-browser"] .estiblisment-details-container .estiblisment-container {
	background: #000;
	height: 50px;
	width: 100%;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-size: cover;
}
#overview [data-role="establishment-browser"] .number {
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    z-index: 2;
}
#overview [data-role="establishment-browser"]  .image {
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	margin-right: 10px;
}
#overview [data-role="establishment-browser"] .details {
	display: inline-block;
	vertical-align: top;
}
#overview [data-role="establishment-browser"] table {
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#overview [data-role="establishment-browser"] .heading {
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: 1px 1px #000 !important;
    width: 100%;
}
#overview [data-role="establishment-browser"]  .heading > div {
	color: white;
	font-size: 13px;
	font-weight: normal;
	text-shadow: 1px 1px #000 !important;
}
#overview [data-role="establishment-browser"] h2 {
	font-size: 35px;
	text-align: left;
}
#overview [data-role="establishment-browser"] .rating {

}

