#rewards {
	background: none repeat scroll 0 0 #2F2F2F;
}
.trip-name {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	font-size: 16px;
	font-weight: normal !important;
	height: 30px;
	position: relative;
	text-indent: 10px;
	text-shadow: 1px 1px #000 !important;
	top: 110px;
	width: 100%;
}

.reward-details-container {

	color: #fff;
	font-size: 14px;
}
#reward {
	background-color: #000;
}

#reward .ui-content {
	padding: 0px;
}
#reward .reward-details-container {

}
#rewards .ui-listview, #rewards .ui-listview li {
	transition: none;
}
.reward-details-container .background {
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0 -140px 70px #000 inset;
	height: 250px;
	width: 100%;
}
.reward-details-container .name {
	color: white;
	font-size: 25px;
	margin-top: -60px;
	text-transform: uppercase;
}

.reward-details-container .description {
	color: #666;
	font-size: 14px;
	padding-right: 10px;
}

.reward-details-container .section-heading {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}