<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="overview" data-role="page" >
    <div data-role="content">
        <div style='height:auto; display:none;' class="wrapper">
            <div class='contributor-contianer'>
                <div class="page-header">
                    <span class='highlight' >FEATURED BARS</span>
                </div>
                <div data-role="contributor-browser"></div>
            </div>
            <div class='contributor-contianer-page'>
                <div style='padding-top:10px;padding-bottom:20px; height:40px;'>
                    <a data-transition="slide" data-theme="a" data-role="button" href="#" class="mapBtn" role="button"> VIEW MAP </a>
                </div>
                <div class="page-header">
                    <br/>
                    <span class='highlight' >LOCAL BARS</span>
                </div>
                
                <div style='max-width:500px !important; width:80%; margin:auto;' class='search_container'>
                    <input type='search' data-role='search' style='' placeholder='search local bars...'  />
                </div>
                
                <br/>
                <div data-role="establishment-browser">

                </div>
                
            </div>
        </div>
    </div>
</div>