<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="forgot_password" data-role="page" >
    <div data-role="content">
        <div class="page-header">
            <span class='highlight' >Having </span> Trouble?
        </div>
        <br/>
        <br/>
        <div data-role="fieldcontain">
            <label>EMAIL</label>
            <input type="text" placeholder="Email Address" name="email" data-theme="b" class='text-icon-email' />
        </div>
        <div class="ui-body">
            <fieldset class="ui-grid-a">
                <a class="btnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >Send me my login info</a>
                <br/>
                <div style='text-align:center;'>
                    <a href="javascript:window.App.loadView('login');" class='autentiction-link' >Sign in</a>&nbsp;&nbsp;
                    <a href="javascript:window.App.loadView('register');" class='autentiction-link' >Create an account</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>